In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
df = pd.read_csv("C:\\Users\\HP\\Downloads\\homeprices (2).csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [3]:
mean = df.bedrooms.mean()
mean

4.2

In [4]:
median = df.bedrooms.median()
median

4.0

In [11]:
new = df.fillna({
    'bedrooms':median
})
new

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [14]:
df = new
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [12]:
reg = linear_model.LinearRegression()

In [15]:
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [17]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [18]:
reg.intercept_

221323.0018654043

In [21]:
112.06244194 * 2500 + 23388.88007794 * 4 + -3231.71790863 * 5 + 221323.0018654043

578876.0374840144

In [16]:
reg.predict([[2500,4,5]])

C:\Users\HP\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:461: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([578876.03748933])

In [22]:
reg.predict([[4500, 5, 8]])

C:\Users\HP\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:461: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([816694.64772564])