<a href="https://colab.research.google.com/github/gunasekharmalla/python/blob/main/hashTags.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
df = pd.read_excel("/content/LabeledText.xlsx")

In [9]:
df.shape

(4869, 3)

# New Section

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4869 entries, 0 to 4868
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   File Name  4869 non-null   object
 1   Caption    4869 non-null   object
 2   LABEL      4869 non-null   object
dtypes: object(3)
memory usage: 114.2+ KB

In [ ]:
import nltk

In [11]:
df['Caption']

0           How I feel today #legday #jelly #aching #gym
1       @ArrivaTW absolute disgrace two carriages from...
2       This is my Valentine's from 1 of my nephews. I...
3       betterfeelingfilms: RT via Instagram: First da...
4              Zoe's first love #Rattled @JohnnyHarper15
                              ...
4864    OMG. Well done #Eskom! 'Man dies during #LoadS...
4865    Feelin' the love in here! #ValentinesDay #caring
4866                        #blue #eyes can't be #beaten
4867                LA CHUCHA LOUUU TE CHUPO LOS OJOS..!
4868    #colorsplash_bw #zealous Remedios #herbales y ...
Name: Caption, Length: 4869, dtype: object

In [50]:
import re

def patterns(data):
  regx = r"#(\w+)"
  matches = re.findall(regx,data)
  print(data, " = "," ".join(matches))

patterns(str(df.Caption))

0           How I feel today #legday #jelly #aching #gym
1       @ArrivaTW absolute disgrace two carriages from...
2       This is my Valentine's from 1 of my nephews. I...
3       betterfeelingfilms: RT via Instagram: First da...
4              Zoe's first love #Rattled @JohnnyHarper15
                              ...
4864    OMG. Well done #Eskom! 'Man dies during #LoadS...
4865    Feelin' the love in here! #ValentinesDay #caring
4866                        #blue #eyes can't be #beaten
4867                LA CHUCHA LOUUU TE CHUPO LOS OJOS..!
4868    #colorsplash_bw #zealous Remedios #herbales y ...
Name: Caption, Length: 4869, dtype: object  =  legday jelly aching gym Rattled Eskom LoadS ValentinesDay caring blue eyes beaten colorsplash_bw zealous herbales